.App__header{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1.6rem 3.2rem;
    width: 100%;
    height: 100%;
}

/* App Header Content */

.App__header-content{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 50%;
}

.App__header-content_title{
    width: 100%;
    margin: 0.8rem 0;

    font-style: 800;
    font-size: 56px;
    line-height: 72px;
}

.App__header-content_title-app{
    font-family: var(--font-s);
}

.App__header-content_desc{
    width: 90%;
    margin: 0.8rem 0;
    font-style: normal;
    font-size: 20px;
    line-height: 30px;
    color: var(--white);
}

.App__header-content_email{
    margin: 0.8rem 0;
    display: flex;
    flex-direction: row;
    width: 90%;
}

.App__header-content_email input{
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    padding: 1rem 2rem;
    font-size: 20px;
    line-height: 27px;
    color: var(--white);
    width: 100%;
    flex: 1;
    outline: none;
    border: 1px solid var(--color-p);
    background-color: #052D56;
}

.App__header-content_email button{
    width: 100%;
    outline: 0;
    border: 0;
    flex: 0.2;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    background-color: var(--color-btn);
    padding: 1rem 2rem;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    cursor: pointer;
    box-shadow: 0px 1px 8px 2px rgba(0,0,0,0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 0.4rem;
}

.App__header-content_email button:hover{
    box-shadow: 0px 2px 12px 2px rgba(0,0,0,0.8);
    background:radial-gradient(circle at 50% 50%, rgb(207, 95, 3) 0%, rgb(222, 127, 3) 100%);
    color: var(--color-p);
}

.App__header-content_email input:focus{
    box-shadow: 0px 2px 6px 1px rgba(0,0,0,0.8);
    color: var(--white);
}

/* App Header Image - AI */

.App__header-image{
    width: 50%;
}

.App__header-image img{
    width: 100%;
}

@media screen and (max-width : 1024px){
    .App__header-content_title{
        font-style: 800;
        font-size: 48px;
        line-height: 64px;
    }

    .App__header-content_desc{
        font-size: 18px;
        line-height: 26px;
        color: var(--white);
    }

    .App__header-content_email input ,
    .App__header-content_email button{
        font-size: 18px;
        line-height: 24px;
        padding: 0.8rem 1.6rem;
    }
}

@media screen and (max-width : 950px){
    .App__header{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        row-gap: 1rem;
    }

    
    .App__header-content {
        width: 100%;
        margin: 0 auto;
    }

    .App__header-content_title{
        font-style: 800;
        font-size: 44px;
        line-height: 60px;
    }
    
    .App__header-content_desc {
        width: 100%;
        font-size: 16px;
        line-height: 24px;
    }

    .App__header-content_email{
        width: 80%;
    }

    .App__header-content_email input
    {
        font-size: 16px;
        line-height: 24px;
        padding: 0.7rem 1.4rem;
        flex: 0.8;
    }

    .App__header-content_email button {
        font-size: 16px;
        line-height: 24px;
        padding: 0.7rem 1.4rem;
        flex: 0.2;
    }

    .App__header-image{
        width: 100%;
    }
}

@media screen and (max-width : 800px){
    .App__header-content_email{
        width: 90%;
    }
}

@media screen and (max-width : 470px){
    .App__header-content_title , .App__header-content_desc , .App__header-content_email {
        width: 100%;
    }

    .App__header-content_title {
        font-style: 800;
        font-size: 36px;
        line-height: 48px;
    }

    .App__header-content_desc{
        font-size: 16px;
        line-height: 24px;
        color: var(--white);
    }

    .App__header-content_email{
        width: 100%;
    }

    .App__header-content_email input
    {
        font-size: 16px;
        line-height: 24px;
        padding: 0.7rem 1.4rem;
        flex: 0.9;
    }

    .App__header-content_email button {
        font-size: 16px;
        line-height: 24px;
        padding: 0.7rem 1.4rem;
        flex: 0.1;
    }
}