*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-p);
}

html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    width: 0;
}

body {
    
    background-color: var(--color-p);
}


.App__gradiant-bg{
    /* ff 3.6+ */
    background:-moz-radial-gradient(circle at 50% 50%, rgba(15, 52, 96, 1) 0%, rgba(22, 33, 62, 1) 100%);

    /* safari 5.1+,chrome 10+ */
    background:-webkit-radial-gradient(circle at 50% 50%, rgba(15, 52, 96, 1) 0%, rgba(22, 33, 62, 1) 100%);

    /* opera 11.10+ */
    background:-o-radial-gradient(circle at 50% 50%, rgba(15, 52, 96, 1) 0%, rgba(22, 33, 62, 1) 100%);

    /* ie 10+ */
    background:-ms-radial-gradient(circle at 50% 50%, rgba(15, 52, 96, 1) 0%, rgba(22, 33, 62, 1) 100%);

    /* global 92%+ browsers support */
    background:radial-gradient(circle at 50% 50%, rgba(15, 52, 96, 1) 0%, rgba(22, 33, 62, 1) 100%);
}

.gradient__text {
    background: var(--gradient-text);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

a{
    color: var(--white);
    text-decoration: none;
}

.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
                transform: scale(0.5);
    }
    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}
@keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
                transform: scale(0.5);
    }
    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}
